
body{
    width: 1024px;
    margin: 0 auto;
    background-color: orangered;    
    font-family: 'Oxygen', sans-serif;    
}

h1, h2, h3, h4, h5{
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    display: inline;
    font-size: 20px;
    color: #5c00ad;
    background: #0072ff;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

h3{
    margin: 25px 0 0 0;
}

input[type="text"], input[type="number"]{
    background: rgb(189, 46, 172);
    border-color: #5a2e82;
    padding: 3px;
}

input[type="text"]::-webkit-input-placeholder{
    color: rgb(209, 96, 172);
}


.link, .button{
    text-align: center;
    font-size: 14px;
    display: inline-block;
    color: mediumblue;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.5s, color 0.5s;
    min-width: 80px;
  }

.link:hover, .button:hover{
    cursor: pointer;
    background: darkcyan;
    color: white;
}

.link, .inventory li, .button{
    background: rgba(210, 63, 128, 1)
}

.button{
    border: none;
}

.views, .panel{
    border-top: orangered solid 5px;    
    background-color: darkorange;
}

.page-content{
   margin-bottom: 10px;
}

.page-content{
    background: rgba(255, 80, 69, 1);
    padding: 20px;
}

.inventory, .player-info a, .button, .player-info li, .register-field, .login-field{
    margin-top: 10px;
}

.inventory li, .shop-items li, .shop-creatures li, .featured-items li{
    vertical-align: top;
    text-align: center;
    min-width: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 12px;
    margin: 5px;
}

li .item-name, li .item-type, li .creature-name{
    font-weight: bold;
    display: block;
}

.inventory li .item-type{
    text-transform: capitalize;
}

.inventory li .item-image-container, li .item-amount, li .level, li .item-type, li .link, li .price{
    margin-top: 5px;
}

li .item-amount, .inventory li .level, li .price{
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.player-stats{
    display: inline;
    margin-left: 500px;        
}

.input{
    display: inline-block;
    width: 100px;
}

.login-field, .register-field{
    display: block;
}

.pull-right{
    float: right;
}

.panel .content-block{     
    height: 20px;
    padding: 20px;
}

.panel .content-block h5{    
    display: inline;    
    margin: 0;
}

.views{
    padding: 20px;
}

.remove-deco{
    list-style: none;
    padding: 0;
    margin: 0;
}

.item, .creature{
    display: inline-block;
    padding: 10px;
    width: 20%;
}

.form-field, .login{
    margin-bottom: 10px;
}

.form-field label{
    display: inline-block;
    width: 75px;
     
}

.form-field .image-input{
    margin-bottom: 10px;    
}

.item .link, .creature .link{
    text-decoration: none;
    color: initial;
}

.cart{
    position: absolute;
    top: 75px;
    right: 0;
    background-color: olivedrab;    
    padding: 10px;
}

.cart ol{
    width: 150px;
}

.cart li{
    margin-bottom: 10px;
    background-color: olive;
    padding: 10px;
}

.cart li:last-child{
    margin-bottom: 0;
}

.cart li span{
    display: block;
}

/* Angular Animate */
.fade-element-in.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
  opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-element-in.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
  opacity: 0;
}

.alert{
    top: 200px;
    width: 300px;
    margin-left: -170px;
}

.alert h2{
    font-size: 16px;
    line-height: 4px;
}

.alert p{
    font-size: 14px;
}

.alert[data-has-confirm-button=false][data-has-cancel-button=false]{
    padding-bottom: 0;
}

.sweet-overlay{
    background: transparent;
}

.item-image, .upload-image, .creature-image{
    width: 200px;
}

.item-image-container, .upload-image-container, .creature-image.container{
    height: 200px;
    width: 200px;
}
