<div class="navbar">
    <div class="navbar-inner">
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <!--<div class="center sliding">Awesome App</div>
        <div class="right">
            <!-- 
                Right link contains only icon - additional "icon-only" class
                Additional "open-panel" class tells app to open panel when we click on this link
              
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div data-page="index" class="page">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="shop-wrapper">
                <h2>Shop</h2>
                <h3>Items</h3>
                <ul class="remove-deco shop-items">
                    <li class="item" ng-repeat="item in shopItems">
                        <span class="item-name">{{item.name}}</span>
                        <div class="item-image-container">
                            <img class="item-image" data-ng-src="{{item.image}}" />
                        </div>
                        <span class="price">Price: {{item.price}}</span>

                        <a class="link" ng-href="#/shop/manage" ng-click="featureItem(item)" ng-if="!item.featured">Feature</a>
                        <a class="link" ng-href="#/shop/manage" ng-click="unfeatureItem(item)" ng-if="item.featured">Unfeature</a>
                        <a class="link" ng-href="#/shop/edit/item/{{item.id}}">Edit</a>
                        <a class="link" ng-href="#/shop/manage" ng-click="hideShopItem(item.id)" ng-if="!item.hidden">Hide</a>
                        <a class="link" ng-href="#/shop/manage" ng-click="hideShopItem(item.id)" ng-if="item.hidden">Show</a>
                        <a hidden ng-href="#/shop/manage" ng-click="removeShopItem(item.id)">Delete</a>
                    </li>
                </ul>
                <a class="link" ng-href="#/shop/add-item">Add Item</a>
                <h3>Creatures</h3>
                 <ul class="remove-deco shop-creatures">
                    <li class="creature" ng-repeat="creature in shopCreatures">
                        <span class="creature-name">{{creature.name}}</span>
                        <div class="creature-image-container">
                            <img class="creature-image" data-ng-src="{{creature.image}}" />
                        </div>
                        <span class="price">Price: {{creature.price}}</span>
                        
                        <a class="link" ng-href="#/shop/edit/creature/{{creature.id}}" >Edit</a>
                        <a class="link" ng-href="#/shop/manage" ng-click="hideShopCreature(creature.id)" ng-if="!creature.hidden">Hide</a>
                        <a class="link" ng-href="#/shop/manage" ng-click="hideShopCreature(creature.id)" ng-if="creature.hidden">Show</a>
                        <a hidden ng-href="#/shop/manage" ng-click="removeShopCreature(creature.id)">Delete</a>
                    </li>
                </ul>
                <a class="link" ng-href="#/shop/add-creature" >Add Creature</a>
            </div>
        </div>
    </div>
</div>