<div class="navbar">
    <div class="navbar-inner">
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <!--<div class="center sliding">Awesome App</div>
        <div class="right">
            <!-- 
                Right link contains only icon - additional "icon-only" class
                Additional "open-panel" class tells app to open panel when we click on this link
              
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div data-page="index" class="page">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="shop-wrapper">
                <h2>Shop</h2>
                <h3>Items</h3>
                <ul class="remove-deco shop-items">
                    <li class="item" id="{{item.id}}" ng-repeat="item in shopItems" ng-if="!item.hidden">
                        <a class="link" ng-href="#/shop/item/{{item.id}}">
                            <span class="shop-item-name">{{item.name}}</span>
                            <div class="item-image-container">
                                <img class="item-image" src="{{item.image}}" />
                            </div>
                            <span class="shop-item-price">Price: {{item.price}}</span>
                        </a>
                        <label>Amount:</label>
                        <input type="number" class="amount-input" value="1" />
                        <a class="link" href="#/shop" ng-click="addToCart(item)">Add to Cart</a>
                    </li>
                </ul>
                <h3>Creatures</h3>
                <ul class="remove-deco shop-creatures">
                    <li class="creature" id="{{creature.id}}" ng-repeat="creature in shopCreatures" ng-if="!creature.hidden">
                        <a class="link" ng-href="#/shop/creature/{{creature.id}}">
                            <span class="shop-creature-name">{{creature.name}}</span>
                            <div class="creature-image-container">
                                <img class="creature-image" src="{{creature.image}}" />
                            </div>
                            <span class="shop-creature-price">Price: {{creature.price}}</span>
                        </a>
                        <label>Amount:</label>
                        <input type="number" class="amount-input" value="1" />
                        <a class="link" href="#/shop" ng-click="addToCart(creature)">Add to Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>