<div class="navbar">
    <div class="navbar-inner">
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <!--<div class="center sliding">Awesome App</div>
        <div class="right">
            <!-- 
                Right link contains only icon - additional "icon-only" class
                Additional "open-panel" class tells app to open panel when we click on this link
              
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>-->
    </div>
</div>
<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
    <!-- Page, "data-page" contains page name -->
    <div data-page="index" class="page">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="player-info">
                <h2>Edit profile</h2>
                <form ng-submit="updatePlayer()">
                    <ul class="remove-deco">
                        <li><label>Name:</label><input type="text" ng-model="currentPlayer.name" /></li>
                        <li><label>Password:</label><input type="text" ng-model="currentPlayer.password" /></li>
                        <li>Date Joined: {{currentPlayer.dateJoined}}</li>
                        <li><img data-ng-src="{{currentPlayer.image}}" /></li>
                    </ul>
                    <button class="button" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>