.active{
    background: green;
}

.inactive{
    background: gray;
}

.remove-deco{
    list-style: none;
    padding: 0;
    margin: 0;
}

.buttons li{
    display: inline-block;
    width: 20%;    
    margin: 20px;
}

.buttons button{
    width: 70px;
    height: 50px;
}

.options{
    margin-bottom: 10px;
}